* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  background-color: bisque;
}
/* navbar section */
.main-navbar {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.navbar-links {
  display: flex;
  column-gap: 10px;
}

.link-item a {
  text-decoration: none;
  color: black;
}

.link-item a:hover {
  text-decoration: underline;
  color: blue;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.side-navbar {
  background-color: darkblue;
  width: 40%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -70%;

  padding: 20px;
  color: white;
  transition: 1s;
}
.cross-button {
  text-align: end;
  cursor: pointer;
}
.side-link-item {
  padding: 10px;
}
.side-link-item a {
  color: white;
  text-decoration: none;
}

.side-link-item:hover {
  text-decoration: underline;
}
/* header section */
.header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
}
.header-one {
  width: 300px;
}
.header-one h2 {
  padding-bottom: 20px;
}
.header-one button {
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
}
.header-one button:hover {
  background-color: green;
  color: black;
}
/* service section */
.service-one {
  display: flex;
  padding: 10px;

  justify-content: space-between;
}

.service-two {
  margin-top: 10px;

  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.service-two div {
  background-color: #f2f4f7;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.service-two div h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* new-arrival section & most wanted section */
.new-arrival {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.new-arrival div {
  position: relative;
  flex-basis: 22%;
  padding-top: 20px;
}

.new-arrival div button {
  background-color: black;
  opacity: 0.6;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  top: 70%;
  left: 15%;
}

.new-arrival div button:hover {
  background-color: black;
  color: white;
  opacity: 1;
}
/* news letter section */
.newsletter {
  text-align: center;
  margin-top: 20px;
}
.newsletter input {
  padding: 10px;
  width: 80%;
  height: 1cm;
  font-size: 20px;
  text-align: center;
}
.newsletter input::placeholder {
  color: gray;
  font-size: 20px;
  text-align: center;
}

.newsletter button {
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 10px;
  border: none;

  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}
/* footer section */
.footer {
  background-color: white;
  margin-top: 20px;
  text-align: center;
  row-gap: 10px;
}
.footer i {
  column-gap: 10px;
}
.footer p a {
  text-decoration: none;
  color: darkblue;
}
.footer p a:hover {
  text-decoration: underline;
  color: blue;
}

/* collection section */
.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.collection div {
  position: relative;
  flex-basis: 22%;
  padding-top: 20px;
}

.collection div button {
  background-color: black;
  opacity: 0.6;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  position: absolute;
  top: 70%;
  left: 15%;
}

.collection div button:hover {
  background-color: black;
  color: white;
  opacity: 1;
}
/* collection page search bar  */
.form {
  text-align: center;
}
.form input {
  width: 80%;
  height: 1cm;
  border-radius: 20px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.form input:focus {
  outline: none;
}
.form i {
  font-size: 20px;
  padding-left: 10px;
  cursor: pointer;
}

.collection {
  margin-top: 50px;
}
/* contact form */
.contact{
  padding: 20px;
  margin: 5% auto;
  border: darkgoldenrod solid 3px;
  width: 60%;
  border-radius: 40px;
  
  flex-wrap: wrap;
  justify-content: center;
  
}
.contact h2{
  margin-bottom:20px;
  text-align: center;

}
.contact-form{
  text-align: center;
}
.contact-form input{
  width: 90%;
  height: 30px;
  margin: 5px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  border: none;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  
  
}
.contact-form textarea{
  width: 90%;
  height: 60px;
  margin: 5px;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
border: none;
  margin: 20px;
  
  
}
.contact-form input:focus{
  outline: none;
}
.contact-form textarea:focus{
  outline: none;
}
.contact-form label{
  padding: 10px;
}
.contact-form button{
  
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 15px;
 text-align: center;
}


/*Media Query*/
@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }
  .navbar-links {
    display: none;
  }
  .header {
    align-items: center;
    flex-direction: column-reverse;
  }
  .header-two {
    margin-bottom: 20px;
  }
  .service-one {
    flex-grow: 1;
  }
  .service-two {
    flex-direction: column;
  }
  .side-navbar {
    z-index: 1;
  }
  .contact-form input{
    margin-left: -2px;
  }
  .contact-form textarea{
    margin-left: -2px;
  }
}
